spring:
  application:
    name: cloud-order-server
server:
  port: 8021


eureka:
  client:
    #表示是否将自己注册进EurekaServer默认为true
    register-with-eureka: true
    #是否从EurekaServer抓取已有的注册信息，默认为true。单节点无所谓，集群必须设置为true才能配合ribbon使用负载均衡
    fetch-registry: true
    service-url:
      defaultZone: http://eurekaserver8011.com:8011/eureka,http://eurekaserver8012.com:8012/eureka
  instance:
      instance-id: order-8021
      prefer-ip-address: true
      #Eureka 客户端向服务端发送心跳的时间间隔，单位为秒（默认为30秒）
      lease-renewal-interval-in-seconds: 10
      #Eureka 服务端在收到最后一次心跳后等待时间上限，单位为秒（默认为90秒），超时将剔除服务
      lease-expiration-duration-in-seconds: 20
ribbon:
  #指的是建立连接后从服务器读取到资源所用的时间
  ReadTimeout:  5000
  #指的是建立连接所用的时间，适用于网络正常的情况下，两端连接所用的时间
  ConnectTimeout: 5000

feign:
  hystrix:
    enabled: true

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 3000 #服务降级超时时间
      circuitBreaker:
        errorThresholdPercentage: 50 # 触发熔断错误比例阈值，默认值50%
        sleepWindowInMilliseconds: 20000 # 熔断后休眠时长，默认值5秒
        requestVolumeThreshold: 5 # 熔断触发最小请求次数，默认值是20
      metrics:
        rollingStats:
          timeoutInMilliseconds: 20000 # 时间窗口期


#feign 日志
logging:
  level:
    com.yuanpeng.springcloud.service.PaymentService: info

#spring:
#  application:
#    name: cloud-spring-service
#  datasource:
#    type: com.alibaba.druid.pool.DruidDataSource
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/
#    username: root
#    password: 123456
#
#mybatis:
#  mapperLocations: classpath:mapper/*.xml
#  type-alisases-package: com.yuanpeng.springcloud.entities #所有Entity别名类所在包