server:
  port: 7001

spring:
  application:
    name: cloud-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true #开启从注册中心动态创建路由的功能，利用微服务名进行路由
      routes:         # 网关路由配置
        - id: order-routh # 路由id，自定义，只要唯一即可
#          uri: http://localhost:8021  # 路由的目标地址
          uri: lb://cloud-order-server # 路由的目标地址 lb是负载均衡，后面跟注册中心服务名称  动态路由
          predicates:   # 路由断言，判断请求是否符合路由规则的条件
            - Path=/order/**  # 按照路径匹配，以/user/开头的请求就符合要求

        - id: payment-routh
#          uri: http://localhost:8031
          uri: lb://cloud-payment-server
          predicates:
            - Path=/payment/**

eureka:
  client:
    #表示是否将自己注册进EurekaServer默认为true
    register-with-eureka: true
    #是否从EurekaServer抓取已有的注册信息，默认为true。单节点无所谓，集群必须设置为true才能配合ribbon使用负载均衡
    fetch-registry: true
    service-url:
      defaultZone: http://eurekaserver8011.com:8011/eureka,http://eurekaserver8012.com:8012/eureka
  instance:
    instance-id: gate-7001
    prefer-ip-address: true
    #Eureka 客户端向服务端发送心跳的时间间隔，单位为秒（默认为30秒）
    lease-renewal-interval-in-seconds: 10
    #Eureka 服务端在收到最后一次心跳后等待时间上限，单位为秒（默认为90秒），超时将剔除服务
    lease-expiration-duration-in-seconds: 20